<ion-view view-title="News Feed">
  <ion-content class="padding">
  <!--
    <div class="list card">
      <div class="item item-divider">Notification</div>
      <div class="item item-body">
        <div>
          Your food is here yo
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Blog</div>
      <div class="item item-body">
        <div>
          Here's some new blog information babes
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Blog</div>
      <div class="item item-body">
        <div>
          Keep on reading babes
        </div>
      </div>
    </div> -->

      <div class="list card" ng-repeat="x in response">
        <div class="item item-divider">Blog</div>
        <div class="item item-body">
          <div>
            {{ x.content }}
          </div>
        </div>
      </div>

  </ion-content>
</ion-view>
