/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
  font-family: "Montserrat";
}

.button .icon {
  padding: 0 !important;
}

.dots {
  vertical-align: middle;
  padding: .5em 0 .5em 0;
}

.dots img {
  box-shadow: none !important;
  height: auto;
  width: auto;
}

.bottom-padding {
  margin-bottom: 1.5em;
}

.news-format {
  border-radius: 1.5em;
}

.angular-google-map-container {
  height: 40vh;
}

h4 {
	color: #4190C4;
	text-transform: uppercase;
	font-family: "Montserrat";

}

.button-feedback {
	background-color: #4190C4;
	color: #FFFFFF;
}

i.icon.ion-ios-home-outline {
	margin: 0 auto;
	font-size: 30px;
}
